.main {
  /*background-color: rgb(129, 169, 214);*/
  /*padding: 20px;*/
  /*height: 400px;*/
}
.header {
  background-color: darkslateblue;
  padding: 20px;
}
.logo {
  background-color: darkslateblue;
  padding-top: 20px;
  padding-right: 20px;
  padding-bottom: 20px;
  padding-left: 300px;
}
.logo h1 {
  color: white;
  font-size: 15px;
  font-style: normal;
  font-family: "Times New Roman";
  letter-spacing: 0.1em;
  text-decoration: none;
}
.logo h1 a {
  color: white;
  font-size: 40px;
  text-decoration: none;
}
